<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  
</head>

<body>

  <!-- Header with primary button to refresh data -->
  <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1><b>Mission to Mars</b></h1>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
      </div>
  </div>

  <!--  latest news -->
  
  <div class="row">
    <div class="col-md-12">
      <h2><u><b>Latest Mars News</b></u></h2>
    </div>
    
  </div>
</br>
  <div class="row">
    <div class="col-md-12">
      <h4><u>{{mars_info.title}}</u></h4>
      <p>{{mars_info.paragraph}}</p>
    </div>
  </div>

  <div class="row">
  <!-- Featured Mars Image -->  
    <div class="col-md-8">
      <h2><u><b>Featured Mars Image</b></u></h2>
      <img src={{mars_info.featured_image_url}}>
    </div> 


      <!-- Mars Facts HTML data -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2><u><b>Mars Facts</b></u></h2>
              <p>{{mars_info.html_table | safe}}</p>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>

  <!-- New Section is divided into a 2x2 panel for Hemisphere Images -->
  <h2><u><b>Mars Hemispheres</b></u></h2>
  <div class="card-deck">
    <hr>
    <div class="col-md-12">
        <div class="row">
            {% for info in mars_info.hemisphere_image_urls %}
            <div class="col-md-6">
                <div class="card text" style="margin: 30px;">
                    <img class="card-img-top" src="{{ info.img_url }}" width="500" height="500"/>
                    <div class="caption">
                        <h4>{{ info.title }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>